# Привет :)
## Это моя вторая дз, здесь будет больше комментариев.

Надеюсь, все будет понятно.

In [3]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in ./opt/anaconda3/lib/python3.7/site-packages (2.9.2)
Note: you may need to restart the kernel to use updated packages.

Инсталяция psycopg для работы с постгрес.

In [17]:
#импортирование нужных библиотек
import psycopg2 #чтобы соединиться с постгрес
import pandas as pd #чтобы отображались датафреймы и можно было читать код
import datetime as dt #работа со временем

In [6]:
#ВАЖНЫЙ ШАГ
#ЗДЕСЬ НАДО ПОМЕНЯТЬ ПАРАМЕТРЫ НА СВОИ, К ПРИМЕРУ, У МЕНЯ НЕТ ПАРОЛЯ
#подключение к постгрес (данные также надо загрузить в shell)
conn = psycopg2.connect(user = 'postgres', database = 'postgres', host = 'localhost', port = '5432')

In [7]:
#проверка базы данных
b_a = pd.read_sql_query("SELECT * FROM bond_quotes LIMIT 5" , conn)
pd.set_option('display.max_columns', None) #чтобы можно было посмотреть все колонки
b_a

,currency,date_trading,exch_me,bid_price,ask_price,opening_price,indicative_price,indicative_price_type,turnover,number_of_trades,coupon,ytm_ind,coupon_accum,option_date,duration_option,trade_regime,isin,g_spread,state_bank,issuer,days_to_maturity,total_days_to_maturity,days_to_call,callable,g_spread_interpolated,rf_interpolated
0,RUB,26.07.2016 0:00,Московская Биржа,None,None,None,99.87,Market,None,None,0.115,0.7440,57.03,None,None,Осн. режим: Облигации - Первый уровень,RU000A0JRNJ3,6421.5698,False,АБСОЛЮТ БАНК,1,569,None,False,0.643114,0.100886
1,RUB,25.07.2016 0:00,Московская Биржа,None,None,None,99.87,Market,None,None,0.115,0.3957,56.71,None,None,Осн. режим: Облигации - Первый уровень,RU000A0JRNJ3,2933.5291,False,АБСОЛЮТ БАНК,2,569,None,False,0.294529,0.101171
2,RUB,22.07.2016 0:00,Московская Биржа,None,None,None,99.87,Market,None,None,0.115,0.2195,55.77,None,None,Осн. режим: Облигации - Первый уровень,RU000A0JRNJ3,1169.9229,False,АБСОЛЮТ БАНК,5,569,None,False,0.118178,0.101322
3,RUB,21.07.2016 0:00,Московская Биржа,None,None,None,99.87,Market,None,None,0.115,0.2018,55.45,None,None,Осн. режим: Облигации - Первый уровень,RU000A0JRNJ3,999.5908,False,АБСОЛЮТ БАНК,6,569,None,False,0.100693,0.101107
4,RUB,20.07.2016 0:00,Московская Биржа,None,None,None,99.87,Market,None,None,0.115,0.1887,55.14,None,None,Осн. режим: Облигации - Первый уровень,RU000A0JRNJ3,853.4331,False,АБСОЛЮТ БАНК,7,569,None,False,0.087609,0.101091

## ЗАДАНИЕ 2.b
i.	DataFrame эмпирических спрэдов (S) для заданного момента времени (1 балл):
1.	Индекс строк – минимум из времени до погашения (Days_to_maturity) и времени до исполнения опциона (Days_to_call), если последний есть.
2.	В поле таблицы – значения кредитного спрэда (G_spread_interpolated).

In [13]:
#проверка 
#для момента ставим две даты одинаковыми 
issuer = 'Сбер%' #эмитент, можно писать неполное название и заканчивать %, можно полное
exch_me = 'Франкфурт%' #источник информации, тоже можно писать неполное название
date1 = '20.01.2016' #ОБЯЗАТЕЛЬНО ФОРМАТ ДД.ММ.ГГГГ
date2 = '20.01.2016' #ОБЯЗАТЕЛЬНО ФОРМАТ ДД.ММ.ГГГГ

bid_ask_conn = open('test.sql', 'r', encoding = 'UTF-8')
bid_ask=(bid_ask_conn.read()).format(issuer = issuer, exch_me = exch_me, date_first_ddmmyyyy = date1, date_latter_ddmmyyyy = date2)
g_issuer = pd.read_sql_query(bid_ask, conn, index_col = 'duration') #установка индексной колонки
g_issuer

          g_spread_interpolated
duration
405                   -0.074600
384                   -0.065207
11                     0.048757

## ЗАДАНИЕ 2.b.ii
	По данным таблицы (S) и заданного (h) вычисляет интерполированный спрэд (s_int) (2 балла):
формула в задании и в sql
смысл — средневзвешенная доходность облигации на определенный период в годах (h)

то есть какая была бы доходность если бы прямо сейчас сделали облигацию с таким-то сроком погашения

In [15]:
issuer = 'Сбер%' #эмитент, можно писать неполное название и заканчивать %, можно полное
exch_me = 'Франкфурт%' #источник информации, тоже можно писать неполное название
date1 = '20.01.2016' #ОБЯЗАТЕЛЬНО ФОРМАТ ДД.ММ.ГГГГ
date2 = '20.01.2016' #ОБЯЗАТЕЛЬНО ФОРМАТ ДД.ММ.ГГГГ
h = '1' #СРОЧНОСТЬ СПРЕДА (в кавычках), НЕЛЬЗЯ ИМЕТЬ СРОЧНОСТЬ МЕНЬШЕ ГОДА

bid_ask_conn = open('pls.sql', 'r', encoding = 'UTF-8')
bid_ask=(bid_ask_conn.read()).format(issuer = issuer, exch_me = exch_me, date_first_ddmmyyyy = date1, date_latter_ddmmyyyy = date2, h = h)
g_spreadd = pd.read_sql_query(bid_ask, conn, index_col = 'spread_int') #установка индекса
g_spreadd

Empty DataFrame
Columns: []
Index: [-0.06207648384843381]

## ЗАДАНИЕ 2.b.iii ВЫПОЛНЕНО В МОДУЛЕ (ТАМ ИСПОЛЬЗУЮТСЯ ДВЕ ФУНКЦИИ)

In [24]:
#мой модуль — можно посмотреть в файлах с расширением .py
#комментарии внутри модуля
#чтобы работал — в ту же папку, что и эта тетрадка ipynb
import mylib as m

In [25]:
#если что-то надо изменить и обновить библиотеку
import importlib
importlib.reload(m)

In [26]:
#1 задание, переменные описаны в первой части
m.spread_momentum(conn, 'Сбер%', 'Франкфурт%', '20.01.2016', '20.01.2016')

          g_spread_interpolated
duration
405                   -0.074600
384                   -0.065207
11                     0.048757

In [27]:
#2 задание, переменные описаны в первой части
m.s_int(conn, 'Сбер%', 'Франкфурт%', '20.01.2016', '20.01.2016','1')

Empty DataFrame
Columns: []
Index: [-0.06207648384843381]

## ЗАДАНИЕ 2.b.iii 
iii.	Series (S_int) – временной ряд спрэдов срочности (h) на временном интервале (date_1, date_2) c частотой (f) (3 балла).
1.	Индексы – даты наблюдений
2.	Значения – значения спрэдов

In [29]:
#3 задание
#НОВАЯ ПЕРЕМЕННАЯ f — ЧАСТОТА В МЕСЯЦАХ, ПИШЕТСЯ !!!ТОЛЬКО БЕЗ КАВЫЧЕК!!!
m.parsed_sp(conn, 'Сбер%', 'Франкфурт%', '20.01.2014', '20.01.2016','1',3)

                             spread
date
20.01.2014  [-0.030446625072591105]
20.04.2014  [-0.030446625072591105]
19.07.2014  [-0.030446625072591105]
17.10.2014  [-0.030446625072591105]
15.01.2015  [-0.030140599620247645]
15.04.2015  [-0.010006676941197746]
14.07.2015   [-0.00337511915980914]
12.10.2015    [-0.0256497227546701]
10.01.2016     [-0.064205101705369]

## В SQL и mylib еще интереснее, удачи 
# Пока :)