Установка нужных библиотек

In [ ]:
pip install psycopg2-binary
pip install pandas
pip install numpy
pip install matplotlib

Импорт библиотек

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import psycopg2
import time
import seaborn as sns # seaborn - надстройка над pyplot (она необязателена)

import it4fin_functions as it4fin # мои функции выделенные в отдельный модуль

In [ ]:
# настройка для pandas для отображения всех строк и колонок
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

sns.set() # делаем графики более красивыми через seaborn

Создание соединения с бд

In [3]:
cnxn = psycopg2.connect(user='postgres',
                        database='postgres',
                        host='localhost',
                        port='5432',
                        password='12345')
print(cnxn.get_dsn_parameters())
# проверочный запрос
pd.read_sql_query("SELECT * FROM stock_orders LIMIT 1", cnxn)

{'user': 'postgres', 'channel_binding': 'prefer', 'dbname': 'postgres', 'host': 'localhost', 'port': '5432', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'sslsni': '1', 'ssl_min_protocol_version': 'TLSv1.2', 'gssencmode': 'disable', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}

,no,security_code,buysell,order_no,action,price,volume,trade_no,trade_price,order_time
0,3672830,TATN,B,1806907,1,348.25,5930,None,None,11:20:05.275000

In [ ]:
def get_spread_series(cnxn, security_code, end_time, start_time='0:00:00', freq=0):
    '''
    Основная фцнкция для выполнения дз

    :param cnxn: соединение с базой данных
    :param security_code: тикер для ценной бумаги, например, 'AFLT'
    :param start_time: (optional) начало временного интервала, в формате 'HH:MI:SS.mss'
    :param end_time: конец временного интервала в том же формате
    :param freq: (optional), частота в миллисекундах

    :returns: `DataFrame`, определяющий биржевой стакан для ценной бумаги (buy volume - price - sell volume) и бид аск спред как `int` в слyчае заданы только `end_time` и `security_code` . Если, в добавок, даны `start_time` и `freq` то так же возвращает `Series` бид-аск спредов для временного интервала между `start_time` и `end_time`

    '''

    # считываем шаблон запроса для получения таблицы
    with open('template.sql', 'r', encoding='utf-8') as f:
        query_template = f.read()



    print(query_template)

    pass

In [ ]:
get_spread_series(cnxn, security_code='YNDX', end_time='12:00:00')

In [ ]:
# читаем шаблон для получения таблицы
with open('template.sql', 'r', encoding='utf-8') as f:
    query_template = f.read()

In [5]:
security_code = 'YNDX'
start_time = '12:00:00' # default
end_time = '14:00:00'
freq = 0 # default


# обработка дефолтного случая задания функции
if start_time == '0:00:00' and freq == 0:
    query = query_template.format(security_code=security_code,
                                  time1=start_time,
                                  time2=end_time)
else: # иначе сначала обработаем таблицу до start_time а потом начнется самое интересное
    query = query_template.format(security_code=security_code,
                                  time1='0:00:00',
                                  time2=start_time)

# print(query)

raw = pd.read_sql_query(query, cnxn)
raw

     buysell  order_no   price  remaining_volume
0          B       192  1088.8               0.0
1          B      1472  1050.1               0.0
2          B      1473  1050.1               5.0
3          B      1491  1066.6               0.0
4          B      1674  1090.0             300.0
...      ...       ...     ...               ...
3864       S   2503055  1133.9               0.0
3865       S   2505181  1190.3               2.0
3866       S   2508530  1133.5              25.0
3867       S   2509525  1130.0               0.0
3868       S   2509527  1133.5               2.0

[3869 rows x 4 columns]

In [9]:
dom, bid, ask = it4fin.get_dom_from_raw(raw)
dom
# dom.loc[1000.0] - получить значение по индексу

          buy    sell
price
1222.9    0.0   100.0
1195.0    0.0     1.0
1190.3    0.0     2.0
1189.0    0.0     2.0
1160.0    0.0    50.0
1159.3    0.0     1.0
1152.7    0.0     2.0
1150.5    0.0     1.0
1150.0    0.0  1039.0
1149.9    0.0   117.0
1149.7    0.0   139.0
1149.0    0.0    81.0
1148.3    0.0   170.0
1147.9    0.0     2.0
1145.0    0.0     6.0
1144.9    0.0    60.0
1144.8    0.0    10.0
1144.5    0.0   280.0
1144.4    0.0     1.0
1144.0    0.0    26.0
1142.9    0.0    73.0
1141.5    0.0     1.0
1140.7    0.0     1.0
1140.0    0.0    37.0
1139.9    0.0   147.0
1139.8    0.0    32.0
1139.0    0.0    89.0
1138.9    0.0     5.0
1138.8    0.0    10.0
1138.7    0.0    30.0
1138.0    0.0     1.0
1137.0    0.0    53.0
1136.0    0.0     1.0
1135.7    0.0    50.0
1135.0    0.0    53.0
1134.3    0.0     1.0
1134.0    0.0   344.0
1133.7    0.0    97.0
1133.6    0.0    20.0
1133.5    0.0    27.0
1130.7    4.0     0.0
1130.6   26.0     0.0
1130.5  514.0     0.0
1130.0   60.0     0.0
1128.2   50.0     0.0
1128.1  600.0     0.0
1128.0    1.0     0.0
1126.1   65.0     0.0
1125.0  250.0     0.0
1124.7  122.0     0.0
1124.3   40.0     0.0
1124.2   10.0     0.0
1124.0  120.0     0.0
1123.8  100.0     0.0
1122.0    1.0     0.0
1121.5    2.0     0.0
1120.1  500.0     0.0
1118.0  305.0     0.0
1117.3  100.0     0.0
1117.0    3.0     0.0
1115.1  500.0     0.0
1115.0   40.0     0.0
1111.0  100.0     0.0
1110.1  500.0     0.0
1100.0  132.0     0.0
1090.3    5.0     0.0
1090.1    5.0     0.0
1090.0  301.0     0.0
1079.1    2.0     0.0
1075.9    1.0     0.0
1071.3   10.0     0.0
1064.0   55.0     0.0
1050.9    1.0     0.0
1050.2    1.0     0.0
1050.1    5.0     0.0
1049.0   10.0     0.0
1023.0    1.0     0.0
1000.0  600.0     0.0

In [11]:
bid, ask, (ask - bid) * 2 / (ask + bid)

(1130.7, 1133.5, 0.002473279745605472)

In [ ]:
security_code = 'YNDX'
end_time = '12:00:00'
start_time = '12:01:00' # default
freq = 0 # default


# обработка дефолтного случая задания функции
if start_time == '0:00:00' and freq == 0:
    query = query_template.format(security_code=security_code,
                                  time1=start_time,
                                  time2=end_time)
else: # иначе сначала обработаем таблицу до start_time а потом начнется самое интересное
    query = query_template.format(security_code=security_code,
                                  time1='0:00:00',
                                  time2=start_time)

# print(query)

raw = pd.read_sql_query(query, cnxn)
raw

In [67]:
security_code = 'YNDX'
start_time = '12:00:00' # default
end_time = '12:01:00.01'
freq = 1000 # default

from datetime import datetime, timedelta

# обработка времени формата час:минута:секунда или час:минута:секунда.миллисукенда
if '.' in start_time:
    stime = datetime.strptime(start_time, '%H:%M:%S.%f')
else:
    stime = datetime.strptime(start_time, '%H:%M:%S')

#
if '.' in end_time:
    etime = datetime.strptime(end_time, '%H:%M:%S.%f')
else:
    etime = datetime.strptime(end_time, '%H:%M:%S')

stime, etime

(datetime.datetime(1900, 1, 1, 12, 0),
 datetime.datetime(1900, 1, 1, 12, 1, 0, 10000))

In [68]:
# цикл с постусловием
while True:
    time1 = stime
    time2 = stime + timedelta(milliseconds=freq)

    print(time1.strftime('%H:%M:%S.%f'), time2.strftime('%H:%M:%S.%f'))

    # постусловие
    if time2 >= etime - timedelta(milliseconds=freq):
        break

    stime = time2

12:00:00.000000 12:00:01.000000
12:00:01.000000 12:00:02.000000
12:00:02.000000 12:00:03.000000
12:00:03.000000 12:00:04.000000
12:00:04.000000 12:00:05.000000
12:00:05.000000 12:00:06.000000
12:00:06.000000 12:00:07.000000
12:00:07.000000 12:00:08.000000
12:00:08.000000 12:00:09.000000
12:00:09.000000 12:00:10.000000
12:00:10.000000 12:00:11.000000
12:00:11.000000 12:00:12.000000
12:00:12.000000 12:00:13.000000
12:00:13.000000 12:00:14.000000
12:00:14.000000 12:00:15.000000
12:00:15.000000 12:00:16.000000
12:00:16.000000 12:00:17.000000
12:00:17.000000 12:00:18.000000
12:00:18.000000 12:00:19.000000
12:00:19.000000 12:00:20.000000
12:00:20.000000 12:00:21.000000
12:00:21.000000 12:00:22.000000
12:00:22.000000 12:00:23.000000
12:00:23.000000 12:00:24.000000
12:00:24.000000 12:00:25.000000
12:00:25.000000 12:00:26.000000
12:00:26.000000 12:00:27.000000
12:00:27.000000 12:00:28.000000
12:00:28.000000 12:00:29.000000
12:00:29.000000 12:00:30.000000
12:00:30.000000 12:00:31.000000
12:00:31.000000 12:00:32.000000
12:00:32.000000 12:00:33.000000
12:00:33.000000 12:00:34.000000
12:00:34.000000 12:00:35.000000
12:00:35.000000 12:00:36.000000
12:00:36.000000 12:00:37.000000
12:00:37.000000 12:00:38.000000
12:00:38.000000 12:00:39.000000
12:00:39.000000 12:00:40.000000
12:00:40.000000 12:00:41.000000
12:00:41.000000 12:00:42.000000
12:00:42.000000 12:00:43.000000
12:00:43.000000 12:00:44.000000
12:00:44.000000 12:00:45.000000
12:00:45.000000 12:00:46.000000
12:00:46.000000 12:00:47.000000
12:00:47.000000 12:00:48.000000
12:00:48.000000 12:00:49.000000
12:00:49.000000 12:00:50.000000
12:00:50.000000 12:00:51.000000
12:00:51.000000 12:00:52.000000
12:00:52.000000 12:00:53.000000
12:00:53.000000 12:00:54.000000
12:00:54.000000 12:00:55.000000
12:00:55.000000 12:00:56.000000
12:00:56.000000 12:00:57.000000
12:00:57.000000 12:00:58.000000
12:00:58.000000 12:00:59.000000
12:00:59.000000 12:01:00.000000